body {
  min-width: 70ex;
  font-family: sans-serif;
  font-size: 1em;
  margin: 0 10px 0 0;
  padding: 2px 0px 2px 3px;
  background: #F5F5F5;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #EEE;
}
::-webkit-scrollbar-thumb {
  background: #DDD;
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8CF;
}
::-webkit-scrollbar-thumb:active {
  background: #7BE;
}
a.option {
  color: #024;
  font-size: 0.5em;
  margin-bottom: -10px;
  float: right;
  text-decoration: none;
}
a.option:hover {
  color: #048;
  text-decoration: underline;
}
.inbox-row {
  clear: both;
  display: block;
  padding-top: 5px;
}
.inbox-row-first {
  border: none;
  padding-top: 0px;
}
.inbox-header {
  display: block;
  height: 34px;
}
.url {
  display: block;
  padding-top: 6px;
  padding-left: 34px;
  color: #2AC;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.inbox-icon {
  float: left;
  width: 32px;
  padding: 0px;
  margin: 0px;
  padding-right: 5px;
}
.preview {
  font-size: 0.8em;
  line-height: 1.5em;
  margin-left: 5px;
  display: block;
}
.preview-row {
  color: #666;
  padding: 4px 5px;
  border: 1px solid #EEE;
  border-top: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 1px 1px #FFF;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
}
.preview-row:hover {
  color: #222;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  background: -webkit-linear-gradient(top, #FAFAFA 0, #E0E0E0 100%);
  border: 1px solid #CCC;
}
.preview-row:active {
  color: #666;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
  background: #DDD;
  border: 1px solid #FFF;
}
.subject {
  float: left;
  font-weight: bold;
}
.author {
  margin-left: 10px;
  float: right;
  font-weight: bold;
  text-transform: capitalize;
}
.summary {
  clear: both;
  font-size: 0.9em;
  opacity: 0.9;
}
.preview-row-down {
  color: #444;
  padding: 4px 5px;
  box-shadow: inset 0px 1px 4px rgba(0,0,0,0.3);
  background: #E9E9E9;
  border: 1px solid #FFF;
  border-radius: 5px;
  cursor: pointer;
}
.preview-row-busy {
  color: #666;
  padding: 4px 5px;
  background: #F5F5F5;
  border: 1px solid #FFF;
  cursor: progress;
  opacity: 0.3;
  border-radius: 5px;
}
.preview-row-button {
  color: #666;
  font-size: 0.6em;
  text-shadow: 0 1px 0 #CCC;
  background: #E5E5E5;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #CCC;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.15);
  -webkit-transition: all 0.2s ease-in-out;
  display: inline;
  cursor: pointer;
}
.preview-row-button:hover {
  box-shadow: 0 0 3px rgba(0,0,0,0.15);
  text-shadow: none;
  background: #F8F8F8;
  border: 1px solid #CCC;
}
.preview-row-button:active,:focus {
  color: #666;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
  background: #CCC;
  border: 1px solid #BBB;
}
#mail-tools {
  border-top: 1px solid #AAA;
  padding: 8px 10px 10px 10px;
  margin: 0px -5px -5px -5px;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0, rgba(0,0,0,0.14) 100%);
  border-radius: 0 0 5px 5px;
  cursor: default;
}
.tool-icon {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url("mail_icons.png");
  background-repeat: no-repeat no-repeat;
  margin: -3px 2px 0 0;
  vertical-align: middle;
  opacity: 0.5;
}
#mail-body {
  padding-top: 5px;
  clear: both;
  cursor: text;
}
pre {
  white-space: pre-wrap;
}

